<div class="card">
    <h1>Titulo</h1>
    <div class="card-body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores facere consequuntur accusantium saepe, rem, ullam dicta blanditiis tenetur, iusto temporibus nesciunt quisquam vitae recusandae explicabo commodi. Laudantium maxime eligendi laboriosam.</p>
    </div>
</div>