<header>
</header><br>

<div class="jumbotron jumbotron-fluid">
    <div>
        <h1 class="display-3 text-center"> Proyecto Fungus V1.0</h1>
    </div><hr>

  <div class="card mb-3 text-center mx-auto" style="max-width: 540px;" data-aos="slide-right" data-aos-duration="1000">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/img/logo.png" class="img-fluid rounded-start" width="150px" height="150px">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">¿Qué es Fungus V1.0?</h5>
          <p class="card-text">Fungus es una herramienta sencilla y fácil de utilizar, la cual tiene como objetivo crear tu propia base de datos sobre extractos de origen vegetal o de tipo fungi.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3 text-center mx-auto" style="max-width: 540px;" data-aos="slide-left" data-aos-duration="1000">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">¡¡Tu propia agenda virtual para registrar información de extractos!!</h5>
          <p class="card-text">Registra, modifica o elimina los datos obtenidos, de una manera muy rápida, eficaz y fácil.</p>
        </div>
      </div>

      <div class="col-md-4">
        <img src="/img/agenda.jpg" class="img-fluid rounded-start" width="150px" height="150px">
      </div>
    </div>
  </div>

  <div class="card mb-3 text-center mx-auto" style="max-width: 540px;" data-aos="slide-up" data-aos-duration="1000">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/img/candado.png" class="img-fluid rounded-start" width="150px" height="150px">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">¡¡Tus registros de extractos están seguros!!</h5>
          <p class="card-text">Tú y solo tú tienes tienes acceso a toda la información que registres. Gracias a nuestro sistema de cuentas propias, no tendrás que preocuparte porque alguien más visualice tu información. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <a href="/users/signin" class="btn btn-primary btn-lg">Iniciar</a>
  </div>
</div><br>


<!--Script para la animacion de AOS utilizada-->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
