<div class="container">
  <div class="m-4 d-flex justify-content-center align-items-center" style="height: 810px;">
    <div class="jumbotron mt-4 text-center" data-aos="flip-up" data-aos-duration="1000">
 <h1 class="display-4"  data-aos="slide-left" data-aos-duration="1500"> Bienvenid@</h1>
 <h3  data-aos="slide-right" data-aos-duration="1500"> ¿Qué te gustaría hacer? </h3>

 <hr class="my-4">
 <div class="row">
         
  <div class="col-sm-6" data-aos="fade-up" data-aos-duration="1500">
    <img src="/img/extracto.jpg" width="200px" height="150px" class="mx-auto"><hr>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Ver mis registros</h3>
        <p class="card-text">Modifica, elimina o visualiza toda la informacion que has registrado.</p>
        <a href="/notes" class="btn btn-primary">¡Vamos!</a>
      </div>
    </div>
  </div><br>

  <div class="col-sm-6" data-aos="fade-down" data-aos-duration="1500">
    <img src="/img/nuevo.jpg" width="200px" height="150px" class="mx-auto"><hr>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Crear nuevo extracto</h3>
        <p class="card-text">Añade un nuevo elemento a tus registros. </p>
        <a href="/notes/add" class="btn btn-primary">¡Vamos!</a>
      </div>
    </div>
  </div>
 </div>
</div>
  </div>
</div>


<!--Script para la animacion de AOS utilizada-->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>